body {
  font-size: 15px;
}

.nameDiv {
  width: auto;
  height: 800px;
  background-color: white;
  color: black;
}

#selfImg{
  height: 500px;
  width: 320px;
}
#bannerImg{
  height: 600px;
  width: auto;
}
.projectDiv {
  color: black;
  height: 800px;
  width: auto;
  background-image: url("../images/tree_bark.png");
  border-top: 2px solid black;
}
